Thoth.json
[{"id":"3f33bb49.4b16a4","type":"debug","z":"f88b9142.98a4","name":"Request Received","active":false,"console":"false","complete":"payload","x":108,"y":160,"wires":[]},{"id":"17fb80f6.51a28f","type":"http in","z":"f88b9142.98a4","name":"","url":"/twiliosms","method":"get","swaggerDoc":"","x":103,"y":202,"wires":[["3f33bb49.4b16a4","14dc0bae.833aa4"]]},{"id":"500249b6.d98848","type":"cloudant out","z":"f88b9142.98a4","name":"log-requests","cloudant":"","database":"log-requests","service":"Thoth1-cloudantNoSQLDB","payonly":true,"operation":"insert","x":525.5,"y":202,"wires":[]},{"id":"14dc0bae.833aa4","type":"function","z":"f88b9142.98a4","name":"ReceivedDate","func":"d = new Date();\n\nmsg.payload.ReceivedDate = d.valueOf();\nmsg.payload.ReceivedDateStr = d.toString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":304,"y":202,"wires":[["50b7cd0a.809b34","500249b6.d98848","812dbaaa.282508"]]},{"id":"50b7cd0a.809b34","type":"debug","z":"f88b9142.98a4","name":"Outbound to Log","active":false,"console":"false","complete":"payload","x":546,"y":158,"wires":[]},{"id":"812dbaaa.282508","type":"function","z":"f88b9142.98a4","name":"Prepare Request for Conversation","func":"msg.params = {};\nmsg.params.context = {}\nif (flow.get(msg.payload.From)){\n msg.params.context = flow.get(msg.payload.From); \n}\nflow.set ('From', msg.payload.From);\nmsg.payload = msg.payload.Body;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":293,"wires":[["bb61b515.f5bb78","b5c455f6.b45698"]]},{"id":"d60ab0b5.682f7","type":"watson-conversation-v1","z":"f88b9142.98a4","name":"Conversation","workspaceid":"dfa683a3-efd5-4a83-9739-25fe49682beb","x":795,"y":289,"wires":[["cb9e3131.a16f3","35733375.c75bec","302b31d9.1dbd7e","c6265722.177ce8","a8daa2ca.d4378"]]},{"id":"cb9e3131.a16f3","type":"debug","z":"f88b9142.98a4","name":"Conversation Response","active":false,"console":"false","complete":"payload","x":1014,"y":111,"wires":[]},{"id":"35733375.c75bec","type":"debug","z":"f88b9142.98a4","name":"Conversation Response.output","active":false,"console":"false","complete":"payload.output","x":1031,"y":161,"wires":[]},{"id":"bb61b515.f5bb78","type":"debug","z":"f88b9142.98a4","name":"Conversation Request","active":false,"console":"false","complete":"payload","x":273,"y":253,"wires":[]},{"id":"a8daa2ca.d4378","type":"function","z":"f88b9142.98a4","name":"Output Text and Context","func":"var From = flow.get('From');\nmsg.topic = From;\nflow.set(From, msg.payload.context);\n\nmsg.payload = msg.payload.output.text.join();\nreturn msg;","outputs":1,"noerr":0,"x":1076,"y":360,"wires":[["fbcf4a60.afafb8","1d55d86b.69f618","d6d73ead.3acd9","a580ebb.a4afe18"]]},{"id":"fbcf4a60.afafb8","type":"debug","z":"f88b9142.98a4","name":"Responded via Twilio","active":false,"console":"false","complete":"true","x":1341,"y":298,"wires":[]},{"id":"1d55d86b.69f618","type":"twilio out","z":"f88b9142.98a4","service":"_ext_","twilio":"f467c993.32be68","from":"","number":"","name":"","x":1311,"y":437,"wires":[]},{"id":"302b31d9.1dbd7e","type":"debug","z":"f88b9142.98a4","name":"Conversation Response.input","active":false,"console":"false","complete":"payload.input","x":1031,"y":209,"wires":[]},{"id":"d6d73ead.3acd9","type":"debug","z":"f88b9142.98a4","name":"msg.payload","active":false,"console":"false","complete":"payload","x":1311.5,"y":345,"wires":[]},{"id":"a580ebb.a4afe18","type":"debug","z":"f88b9142.98a4","name":"msg.topic","active":false,"console":"false","complete":"topic","x":1300.5,"y":394,"wires":[]},{"id":"c6265722.177ce8","type":"debug","z":"f88b9142.98a4","name":"Conversation msg","active":false,"console":"false","complete":"true","x":990.5,"y":255,"wires":[]},{"id":"c46c113e.4f64f","type":"split","z":"f88b9142.98a4","name":"Space split","splt":" ","x":413,"y":686,"wires":[["889cf176.33ab1"]]},{"id":"889cf176.33ab1","type":"switch","z":"f88b9142.98a4","name":"first string","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"nearme","vt":"str"},{"t":"eq","v":"wayto","vt":"str"}],"checkall":"true","outputs":2,"x":584,"y":686,"wires":[[],["386ccbc9.a5ad14"]]},{"id":"6b32ed66.b71874","type":"http request","z":"f88b9142.98a4","name":"Location","method":"GET","ret":"obj","url":"","tls":"","x":1050,"y":601,"wires":[["cd7b01f2.c2935","e5a65dd7.bc246"]]},{"id":"cd7b01f2.c2935","type":"debug","z":"f88b9142.98a4","name":"//.routes[0].legs[0].steps[1].html_instructions","active":false,"console":"false","complete":"payload","x":1363,"y":575,"wires":[]},{"id":"386ccbc9.a5ad14","type":"function","z":"f88b9142.98a4","name":"Geo URL Parsing","func":"var url= \"https://maps.googleapis.com/maps/api/directions/json?origin=Toronto&destination=\"+msg.payload[3]+\"&key=AIzaSyDDQNX83gyucFVF0JGduoy98QqjF62fWv8\";\nmsg.url = url;\n\nreturn url;","outputs":1,"noerr":0,"x":804,"y":691,"wires":[[]]},{"id":"93aeabd0.c81fa8","type":"debug","z":"f88b9142.98a4","name":"","active":true,"console":"false","complete":"url","x":742,"y":441,"wires":[]},{"id":"add18c0c.2c4e7","type":"function","z":"f88b9142.98a4","name":"Control Block","func":"var str = msg.payload;\nvar res= str.split(\" \");\n\n//console.log(res);\nvar url;\nif(res[0]==\"Wayto\") {\n    url= \"https://maps.googleapis.com/maps/api/directions/json?origin=Uwaterloo&destination=\"+res[1]+\"&key=AIzaSyDDQNX83gyucFVF0JGduoy98QqjF62fWv8\";\n    msg.url = url;\n    //console.log(\"1\");\n}\nelse if(res[0]==\"AddressOf\") {\n    url=\"https://maps.googleapis.com/maps/api/place/textsearch/json?query=\"+res[1]+\"&key=AIzaSyAOb8qU4GCd0HcDb2v_BFihIzL3Qh3C8eM\";\nmsg.url = url;\n    \n}\nelse if(res[0]==\"Search\") {\n    url=\"https://api.yelp.com/v2/search?term=\"+res[1]+\"&location=\"+res[3]+\"&oauth_consumer_key=oq9riLOCz4_TfTKkjWekSg&oauth_token=Zk_C9ZLnKo7NMaOn9yxwKRRhqcw7b6NW&oauth_signature_method=hmac-sha1&oauth_signature=utl1BttDLipDFWqF-lUXyfSdaM8\";\nmsg.url = url;\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":582,"y":500,"wires":[["6b32ed66.b71874","93aeabd0.c81fa8"]]},{"id":"e5a65dd7.bc246","type":"function","z":"f88b9142.98a4","name":"Send to Twilio","func":"var From = flow.get('From');\nvar temp;\nmsg.topic = From;\nflow.set(From, msg.payload.context);\ntry {\n    temp = msg.payload.results[0].formatted_address;\n}catch(err) {\n    if (err) {\n        temp = msg.payload.routes[0].legs[0].steps[1].html_instructions +\" after \" +msg.payload.routes[0].legs[0].steps[1].distance.text;\n    }\n}\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":1273,"y":644,"wires":[["514a4230.b063ac","987049e8.9f0b08"]]},{"id":"514a4230.b063ac","type":"debug","z":"f88b9142.98a4","name":"","active":true,"console":"false","complete":"false","x":1454,"y":645,"wires":[]},{"id":"987049e8.9f0b08","type":"twilio out","z":"f88b9142.98a4","service":"_ext_","twilio":"f467c993.32be68","from":"","number":"","name":"","x":1460,"y":701,"wires":[]},{"id":"d4d70f28.38bbd","type":"switch","z":"f88b9142.98a4","name":"list","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"List","vt":"str"},{"t":"eq","v":"list","vt":"str"},{"t":"eq","v":"LIST","vt":"str"},{"t":"regex","v":"Search","vt":"str","case":true},{"t":"else"}],"checkall":"true","outputs":5,"x":370,"y":463,"wires":[["2628b97.8284546","6ade841a.fa142c"],["2628b97.8284546"],["2628b97.8284546"],["35e6de88.a8bbd2"],["add18c0c.2c4e7"]]},{"id":"2628b97.8284546","type":"function","z":"f88b9142.98a4","name":"List","func":"var From = flow.get('From');\nvar temp;\nmsg.topic = From;\nflow.set(From, msg.payload.context);\ntemp = 'You can try \"Addressof CNTower\", \"Wayto uwaterloo\" or \"help me\" to get inside IBM Watson car bot';\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":537,"y":548,"wires":[["821c5f70.7e2f"]]},{"id":"821c5f70.7e2f","type":"twilio out","z":"f88b9142.98a4","service":"_ext_","twilio":"f467c993.32be68","from":"","number":"","name":"","x":712,"y":559,"wires":[]},{"id":"6ade841a.fa142c","type":"debug","z":"f88b9142.98a4","name":"","active":false,"console":"false","complete":"false","x":640,"y":387,"wires":[]},{"id":"b5c455f6.b45698","type":"switch","z":"f88b9142.98a4","name":"watson switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"watson","vt":"str"},{"t":"eq","v":"Watson","vt":"str"},{"t":"eq","v":"WATSON","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":506,"y":330,"wires":[["d60ab0b5.682f7"],["d60ab0b5.682f7"],["d60ab0b5.682f7"],["d4d70f28.38bbd"]]},{"id":"35e6de88.a8bbd2","type":"function","z":"f88b9142.98a4","name":"yelp","func":"var Yelp = context.global.yelp;\nvar From = flow.get('From');\nmsg.topic = From;\nflow.set(From, msg.payload.context);\nvar yelp = new Yelp({\n  consumer_key: 'oq9riLOCz4_TfTKkjWekSg',\n  consumer_secret: '9dC3DXjHSd0fmM8LfJzbekzpDdw',\n  token: 'Zk_C9ZLnKo7NMaOn9yxwKRRhqcw7b6NW',\n  token_secret: 'utl1BttDLipDFWqF-lUXyfSdaM8',\n});\n\n// See http://www.yelp.com/developers/documentation/v2/search_api\nyelp.search({ term: 'food', location: 'Toronto' })\n.then(function (data) {\n  msg.payload = data;\n    console.log(data);\n})\n.catch(function (err) {\n  console.error(err);\n  msg.payload = \"Error\";\n});\nsetTimeout(function(){},2000);\nreturn msg;\n","outputs":1,"noerr":0,"x":432,"y":600,"wires":[["4dec567d.620108","253271ef.7d7e0e"]]},{"id":"4dec567d.620108","type":"twilio out","z":"f88b9142.98a4","service":"_ext_","twilio":"f467c993.32be68","from":"","number":"","name":"","x":601,"y":614,"wires":[]},{"id":"253271ef.7d7e0e","type":"debug","z":"f88b9142.98a4","name":"","active":false,"console":"false","complete":"payload","x":517,"y":652,"wires":[]},{"id":"e9d1a24c.1819","type":"http in","z":"f88b9142.98a4","name":"","url":"","method":"get","x":72.5,"y":421.00001525878906,"wires":[[]]},{"id":"f467c993.32be68","type":"twilio-api","z":"f88b9142.98a4","sid":"AC35ea7c12e8a62ff40c85e4c3b186cf59","from":"+12267740471","name":"Thoth Ronak"}]